{{> header}}
    <div class="col-12">
        <p class="text-sm-left text-justify">
            Welcome to my website. This is a place for me to play around with code and use some artistic liberties.<br><br>
            I am a self taught developer who loves learning new technology from the latest in javascript to tinkering with Raspberry Pi.<br><br>
            My major in college was architecture. The skills I learned there have proven helpful in a career in programming. Analytical skills such as studying methods, techniques, taking things apart and rebuilding it up again parallels the process of programming. So how does one go from architecture to programming? After graduating in 2009 during the recession I found myself without a job. Without any job prospects I decided to take a year off and teach English in South Korea for a year. After returning I decided to create a website for my architecture porfolio and found that I really enjoyed it. From that point on it was no turning back.<br><br>
        </p>
    </div>
{{> footer}}